<!doctype html>
<html>
<head>
    <title><%= dataset.name %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type = "text/css" href="/metabolomics/css/style.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div align = "left"><a href="/metabolomics/" class="btn btn-default btn-sm">Home</a></div>
    <div class="page-header text-center">
        <h1><span></span> <%= dataset.name %> </h1>
    </div>
        
    <div class="row">
        
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span></span> Information</h3>

                    <p>
                        <strong>Description</strong>: <%= dataset.description %><br>
                        <strong>Submitted by</strong>: <%= user.local.email %><br>
                        <div class = "well abstract">
			    <strong>Abstract</strong>: <%= dataset.summary %>
			</div>
			<strong>Privacy</strong>: <%= dataset.privacy %><br>
			<strong>Data:</strong>
			<strong><a href="/metabolomics/data/<%= dataset.name %>">Data</a></strong><br>
			<strong>Metadata</strong>
			<strong><a href="/metabolomics/metadata/<%= dataset.name %>">Metadata</a></strong><br>
			<strong>Reports:<strong><br>
			<div class = "reports">
			<% for (var i = 0; i < dataset.report.length; i++) {%>
			    <strong><a href="/metabolomics/report/<%= dataset.name %>/<%= i %>"><%= dataset.report[i].name %></a></strong><br>
			<% } %>
			</div>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>

