<!doctype html>
<html>
<head>
    <title>Metabolomics Datasets</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type = "text/css" href="css/style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
     <div align="right">
        <a href="/metabolomics/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/metabolomics/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
     </div>
     <div align="left"> <a href="/metabolomics/submit" class="btn btn-default">Submit</a></div>
	<br>
    <div class="jumbotron text-center">
        <h2>Datasets:</h2>
	<div class = "well dataset-list">
	    <table class="table">
		<thead>
		    <tr>
			<th>Name</th>
			<th>Description</th>
		    </tr>
		</thead>
		<tbody>
		<% datasets.forEach(function(dataset) { %>
		    <tr>	
			<td><%= dataset.name %></td>
			<td><%= dataset.description %></td>
			<td><a href = "/metabolomics/dataset/<%= dataset.name %>" class="btn btn-default">
			    <span class="fa fa-search"></span>
			</a></td>
			<!--<td><%= dataset.email %></td>-->
		    </tr>
	        <% }); %>
		</tbody>
	    </table>
	</div>
    </div>

</div>
</body>
</html>
