<!doctype html>
<html>
<head>
    <title>Submit dataset</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
   <!-- <link rel="stylesheet" href="/style.css">-->
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Submit dataset</h1>
    </div>

    <div class="row">
<% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
		<form id = "uploadForm"
      		      enctype = "multipart/form-data"
      		      action = "submit"
      		      method = "post"
	        >
		<div>
		<div class="left"><label>Name:</label></div> <div class="right"><input type = "text" name = "datasetName"> <br></div><br>
		<div class="left"><label>Description:</label></div><div class="right"><input type = "text" name = "datasetDescription"><br></div><br>
		<div class="left"><label>Privacy:</label></div>
		<div class="right">
		<select class="selectprivacy" data-style="btn-info" name="selectprivacy">
        	    <optgroup label="Select privacy">
            		<option name="public" value="Public">Public</option>
            		<option name="registered" value="Registered">Registered</option>
            		<option name="private" value="Private">Private</option>
        	    </optgroup>
    		</select>
		</div><br>
		<!--<div class="left"><label> Privacy:</label></div><div class="right"><input type = "text" name = "datasetPrivacy"><br></div><br>-->
		<!-- <input type = "text" name = " -->
		<div class="left"><label>Abstract:</label></div>
		<textarea rows="4" cols="50" name = "summary">
		
		</textarea><br>
		<div class="left"><label>Select the data:</label></div><div class="right"><input type = "file" name = "data" /></div> <br>
		<div class="left"><label>Select the metadata:</label></div><div class="right"><input type = "file" name = "metadata" /></div><br>
		<div class="left"><label>Select the reports:</label></div><div class="right"><input type = "file" name = "report" multiple/></div><br>
		<input type = "submit" value = "Upload Dataset" name = "submit">
		</div>
		</form>
        </div>

    </div>
</div>
</body>
</html>
