.left {
    width: 30%;
    float: left;
    text-align: right;
}
.right {
    width: 65%;
    margin-left: 10px;
    float:left;
}

.dataset-list {
    font-size: 15px;
    text-align: left;
}

.abstract {
    background-color: ghostwhite;
}

.reports {
    padding-left: 2em;
}
